{% extends "base.html" %}
{% load humanize %}
{% block content %}
{% with paintings.0.painter as artist %}
<div class="col-12 text-center namecard-lg">
    <div class="mx-auto">
        <img class="profile_img rounded-circle" src="{{artist.image.url}}" alt="{{artist.name}}">
    </div>
    <h1>{{artist.name}}</h1>
    <p class="my-description-sub">{{artist.title}}</p>
</div>
<div class="artist-container">
    <p class="my-description-detail">{{artist.description}}</p>
    {% endwith %}
    <hr>
    <h2>작품 둘러보기</h2>
</div>
<div class="grid are-images-unloaded">
    <div class="grid__col-sizer"></div>
    <div class="grid__gutter-sizer"></div>
    {% for painting in paintings.object_list %}
    <div class="grid__item">
        <a href="{% url 'shop:paintingDetail' painting.slug %}">
            <img src="{{painting.image.url}}">
            <div class="main-description">
                <h5 class="my-painting-title">{{painting.name}}</h5>
                <p class="my-description-sub">{{painting.material}}</p>
                <div class="two-info">
                    <p class="my-description-bold left">₩ {{painting.price|intcomma}}</p>
                    <p class="my-description-sub right">{{painting.painter.name}}</p>
                </div>
            </div>
            <hr class="mx-2">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block js %}
<script>
    //-------------------------------------//
    // init Masonry

    var $grid = $('.grid').masonry({
        itemSelector: 'none', // select none at first
        columnWidth: '.grid__col-sizer',
        gutter: '.grid__gutter-sizer',
        percentPosition: true,
        stagger: 30,
        // nicer reveal transition
        visibleStyle: { transform: 'translateY(0)', opacity: 1 },
        hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
    });

    // get Masonry instance
    var msnry = $grid.data('masonry');

    // initial items reveal
    $grid.imagesLoaded(function () {
        $grid.removeClass('are-images-unloaded');
        $grid.masonry('option', { itemSelector: '.grid__item' });
        var $items = $grid.find('.grid__item');
        $grid.masonry('appended', $items);
    });

    //-------------------------------------//
    // calculate number of pages and make page urls

    function getPageNumbers(num) {
        var pageNumbers = []
        for (i = 1; i < num; i++) {
            pageNumbers.push(i + 1)
        }
        return pageNumbers
    }

    var nextPageNumbers = getPageNumbers(parseInt('{{paintings.paginator.num_pages}}'))

    function getPaintingsPath() {
        var currentUrl = window.location.href
        var pageIndex = nextPageNumbers[this.loadCount];
        if (pageIndex) {
            return currentUrl + '?page=' + pageIndex;
        }
    }

    //-------------------------------------//
    // init Infinte Scroll

    $grid.infiniteScroll({
        path: getPaintingsPath,
        append: '.grid__item',
        outlayer: msnry,
        status: '.page-load-status',
        history: false,
    });
</script>
{% endblock %}