{% extends "base.html" %}
{% load staticfiles humanize crispy_forms_tags i18n %}
{% block title %}
{% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'ko' %}
    &#8220{{query}}&#8221에 대한 검색결과 | 헤이글리
    {% else %}
    Results for &#8220{{query}}&#8221 | Hagley
    {% endif %}
{% endblock %}
{% block content %}
<div class="my-container invisible">
    <div class="container">
        <div>
        {% if LANGUAGE_CODE == 'ko' %}
            <p class="text-center search-text"><b>"{{query}}"</b>에 대한 검색결과</p>
        {% else %}
            <p class="text-center search-text">Results for <b>"{{query}}"</b></p>
        {% endif %}
        </div>
        <div class="grid are-images-unloaded">
            <div class="grid__col-sizer"></div>
            <div class="grid__gutter-sizer"></div>
            {% for painting in paintings.object_list %}
            <div class="grid__item">
                <a href="{% url 'shop:paintingDetail' painting.slug %}">
                    <img src="{{painting.thumbnail.url}}">
                    <div class="main-description">
                        {% if LANGUAGE_CODE == 'ko' %}
                        <h5 class="my-painting-title">{{painting.name}}</h5>
                        <p class="my-description-sub right">{{painting.painter.name}}</p>
                        <p class="my-description-bold left">₩ {{painting.price|intcomma}}</p>
                        {% else %}
                        <h5 class="my-painting-title">{{painting.paintingeng_set.all.0.name}}</h5>
                        <p class="my-description-sub right">{{painting.painter.paintereng_set.all.0.name}}</p>
                        <p class="my-description-bold left">$ {{painting.paintingeng_set.all.0.price|intcomma}}</p>
                        {% endif %} 
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    //-------------------------------------//
    // init Masonry

    var $grid = $('.grid').masonry({
        itemSelector: 'none', // select none at first
        columnWidth: '.grid__col-sizer',
        gutter: '.grid__gutter-sizer',
        percentPosition: true,
        stagger: 30,
        // nicer reveal transition
        visibleStyle: { transform: 'translateY(0)', opacity: 1 },
        hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
    });

    // get Masonry instance
    var msnry = $grid.data('masonry');

    // initial items reveal
    $grid.imagesLoaded(function () {
        $grid.removeClass('are-images-unloaded');
        $grid.masonry('option', { itemSelector: '.grid__item' });
        var $items = $grid.find('.grid__item');
        $grid.masonry('appended', $items);
        $('#hagley-footer').removeClass('d-none');
        $('.my-container').removeClass('invisible');
    });

    //-------------------------------------//
    // hack CodePen to load pens as pages
    function getPageNumbers(num) {
        var pageNumbers = []
        for (i = 1; i < num; i++) {
            pageNumbers.push(i + 1)
        }
        return pageNumbers
    }

    var nextPageNumbers = getPageNumbers(parseInt('{{paintings.paginator.num_pages}}'))

    function getPaintingsPath() {
        var currentUrl = window.location.href
        var pageIndex = nextPageNumbers[this.loadCount];
        if (pageIndex) {
            return currentUrl + '?csrfmiddlewaretoken={{csrfToken}}&q={{query}}&page=' + pageIndex;
        }
    }

    //-------------------------------------//
    // init Infinte Scroll

    $grid.infiniteScroll({
        path: getPaintingsPath,
        append: '.grid__item',
        outlayer: msnry,
        status: '.page-load-status',
        history: false,
    });
</script>
{% endblock %}