/**** Navbar ****/
.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    padding-bottom: 0px !important;
}

.my-navbar {
    padding-top: 15px !important;
    padding-bottom: 12px !important;
    transition: top 0.3s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    background: #EEEEEE;
}

.brand-logo {
    width: 80px;
}

.brand-logo-xs {
    display: none;
}

.input-group {
    border-radius: 0px !important;
}

.btn-outline-success {
    color: #222222 !important;
    border-color: #222222 !important;
}

.btn-outline-success:hover {
    background: #222222 !important;
    color: #fff !important;
}

.btn-outline-success:active {
    background: #222222 !important;
}

.my_toggler {
    margin-left: 15px;
}

#search-form-lg {
    display: block;
}

#search-form-xs {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.my-search-bar {
    height: 38px;
    display: flex;
}

.my-search-button {
    padding-left: 15px !important;
    padding-right: 15px !important;
    background: #ffffff !important;
    border: 0px !important;
    height: 100% !important;
}

.my-search-bar-input {
    padding-left: 15px !important;
    flex-grow: 1;
    height: 100% !important;
}

/**** Footer ****/
.footer {
    margin-top: 10px;
}

.my_footer {
    background: #eeeeee;
    height: 60px;
}
.my_footer p {
    padding-top: 20px;
    font-size: 14px;
}

/**** Paintings ****/
.background {
    position: relative;
}

.main-description {
    padding: 10px 10px 2px 10px;
}

.main-description p {
    margin: 0px;
}

.main-description h5 {
    margin: 0px;
}

.my-painting-title {
    font-size: 16px;
    letter-spacing: 2px;
}

.my-description-sub {
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #878787;
}

.my-description-bold {
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #010001;
    font-weight: bold;
}

.two-info {
    display: flex;
}

.two-info .left {
    flex-grow: 1;
}

.grid {
    max-width: 1080px;
}

/* reveal grid after images loaded */
.grid.are-images-unloaded {
    opacity: 0;
}

.grid__item,
.grid__col-sizer {
    width: 23.5%;
}

.grid__gutter-sizer { width: 2%; }

/* hide by default */
.grid.are-images-unloaded .image-grid__item {
    opacity: 0;
}

.grid__item {
    margin-bottom: 4px;
    float: left;
}

.grid__item a {
    text-decoration: none !important;
    color: #222222;
}

.grid__item a:hover {
    text-decoration: none !important;
    color: #222222;
}

.grid__item img {
    display: block;
    width: 100%;
}

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}

/**** FAB ****/
.float {
	position:fixed;
	width:300px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#1C5D99;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

a.float:hover {
    text-decoration: none;
    color: #ffffff
}

.my-float {
    margin-top: 18px;
}

/**** Paintings Detail ****/
.main-description h1 {
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2.8px;
}

.my-description-detail {
    font-size: 16px;
    color: #010001;
    margin: 10px 0px 10px 0px !important;
}

.detailImg {
    max-width: 100%;
    max-height: 700px;
}

.image_container {
    background: #f8f9fa;
}

.namecard {
    padding: 14px 0px 4px 0px !important;
}

.namecard .my-description-detail {
    padding: 5px 0px 0px 0px;
    margin: 0px !important;
}

.namecard a {
    text-decoration: none;
    color: #222222;
}

.namecard a:hover {
    text-decoration: none;
    color: #222222;
}

.profile_img {
    width: 80px;
    height: 80px;
}

.my-btn {
    height: 38px;
    width: 100%;
    background: #327ae8;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 0px;
}

.my-btn-lg {
    height: 50px;
    width: 100%;
    background: #327ae8;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 0px;
}

.email-container {
    margin-top: 12px;
    padding: 0px 10px 0px 10px;
}

/**** Artist Detail ****/
.namecard-lg {
    padding: 5px 10px 0px 10px;
}

.namecard-lg h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2.8px;
}

.namecard-lg .profile_img {
    width: 140px;
    height: 140px;
}

.artist-container {
    margin: 20px 10px 20px 10px;
}

.artist-container h2 {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #010001;
}

.artist-container .my-description-detail {
    margin-bottom: 20px !important;
}

/**** Search ****/
.search-text {
    margin: 25px 0px 20px 0px;
    font-size: 18px;
}

/**** Media Query ****/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .brand-logo-lg{
        display: none;
    }
    
    .brand-logo-xs {
        display: block;
    }
    
    .grid__item,
    .grid__col-sizer {
        width: 100%
    }

    .grid__gutter-sizer {
        width: 0%;
    }

    .my_fab {
        display: none;
    }
    
    #search-form-lg {
        display: none;
    }

    #search-form-xs {
        display: block;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .grid__item,
    .grid__col-sizer {
        width: 47%
    }

    .grid__item--width2 {
        width: 100%;
    }
    
    .grid__gutter-sizer {
        width: 6%;
    } 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .grid__item,
    .grid__col-sizer {
        width: 32%
    }

    .grid__gutter-sizer {
        width: 2%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .grid__item,
    .grid__col-sizer {
        width: 32%
    }

    .grid__gutter-sizer {
        width: 2%;
    } 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) { 
    .grid__item,
    .grid__col-sizer {
        width: 23.5%
    }
    
    .grid__gutter-sizer {
        width: 2%;
    }
}