{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
    {{painting.name}} by {{painting.painter.name}} | Hagley
{% endblock %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }}-->
<div class="container margin-top-20">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            <div class="product-carousel-thumbs d-none d-lg-block">
                <img src="{{painting.thumbnail_s.url}}" class="detail-thumb-img" alt="{{painting.slug}}-tn">
                {% for detailImg in paintingImgs %}
                <img src="{{detailImg.thumbnail.url}}" class="detail-thumb-img" alt="{{painting.slug}}-tn-{{forloop.counter}}">
                {% endfor %}
            </div>
            <div id="image_container" class="image_container text-center">
                <img class="detailImg" src="{{painting.thumbnail_detail.url}}" alt="{{painting.slug}}">
                {% for detailImg in paintingImgs %}
                <img class="detailImg" src="{{detailImg.thumbnail_detail.url}}" alt="{{painting.slug}} - {{forloop.counter}}">
                {% endfor %}
            </div>
            <div class="email-container d-none d-lg-block">
                <h5>{% trans 'Art Description' %}</h5>
                {% if painting.description == "" %}
                    <p class="my-description-detail" style="color: #878787;">{% trans 'No description to show.' %}</p>
                {% else %}
                    {% if LANGUAGE_CODE == 'ko' %}
                    <p id="painting-desc" class="my-description-detail">{{painting.description}}</p>
                    <div id="painting-desc-full" class="my-description-detail d-none">
                        {{painting.description|linebreaksbr}}
                    </div>
                    {% else %}
                    <p id="painting-desc" class="my-description-detail">{{painting.paintingeng_set.all.0.description}}</p>
                    <div id="painting-desc-full" class="my-description-detail d-none">
                        {{painting.paintingeng_set.all.0.description|linebreaksbr}}
                    </div>
                    {% endif %}
                {% endif %}
                <hr style="margin-bottom: 15px !important;">
            </div>
            <div class="email-container">
                <div class="main-description p-0 d-lg-none">
                {% comment %} 그림 정보 {% endcomment %}
                    {% if LANGUAGE_CODE == 'ko' %}
                    <h1>{{painting.name}}</h1>
                    <p class="my-description-sub">{{painting.painter.name}}</p>
                    <p class="my-description-sub">{{painting.material}}</p>
                    <p class="my-description-sub">{{painting.width}}cm x {{painting.height}}cm</p>
                    <p class="my-description-bold mt-1">₩ {{painting.price|intcomma}}</p>
                    {% else %}
                    <h1>{{painting.paintingeng_set.all.0.name}}</h1>
                    <p class="my-description-sub">{{painting.painter.paintereng_set.all.0.name}}</p>
                    <p class="my-description-sub">{{painting.paintingeng_set.all.0.material}}</p>
                    <p class="my-description-sub">{{painting.width}}cm x {{painting.height}}cm</p>
                    <p class="my-description-bold mt-1">$ {{painting.paintingeng_set.all.0.price|intcomma}}</p>
                    {% endif %}
                    <hr>
                    <h5>{% trans 'Art Description' %}</h5>
                    {% if painting.description == "" %}
                        <p class="my-description-detail" style="color: #878787;">{% trans 'No description to show.' %}</p>
                    {% else %}
                        {% if LANGUAGE_CODE == 'ko' %}
                        <p id="painting-desc-2" class="my-description-detail">{{painting.description}}</p>
                        <div id="painting-desc-full-2" class="my-description-detail d-none">
                            {{painting.description|linebreaksbr}}
                        </div>
                        {% else %}
                        <p id="painting-desc-2" class="my-description-detail">{{painting.paintingeng_set.all.0.description}}</p>
                        <div id="painting-desc-full-2" class="my-description-detail d-none">
                        {{painting.paintingeng_set.all.0.description|linebreaksbr}}
                        </div>
                        {% endif %}
                    {% endif %}
                    <hr>
                {% comment %} 작가 네임카드 {% endcomment %}
                    <div class="col-12 namecard text-center">
                        <a href="{% url 'artist:artistDetailView' painting.painter.slug %}">
                            <div class="mx-auto">
                                <img class="profile_img rounded-circle" src="{{painting.painter.image.url}}" alt="{{painting.painter.name}}">
                            </div>
                            {% if LANGUAGE_CODE == 'ko' %}
                            <p class="my-description-detail">{{painting.painter}}</p>
                            <p class="my-description-sub">{{painting.painter.title}}</p>
                            <button class="my-btn-lg mt-3">{{painting.painter.name}} 작가의 다른 작품보기</button>
                            {% else %}
                            <p class="my-description-detail">{{painting.painter.paintereng_set.all.0.name}}</p>
                            <p class="my-description-sub">{{painting.painter.paintereng_set.all.0.title}}</p>
                            <button class="my-btn-lg mt-3">More by {{painting.painter.paintereng_set.all.0.name}}</button>
                            {% endif %}
                        </a>
                    </div>
                    <hr>
                </div>
                <h5>{% trans 'Want to know more about this artwork?' %}</h5>
                    {% trans 'Enter your email address below.'%}<br>
                    {% trans 'We will send you a detailed <strong>description of the artwork</strong>, <strong>artist</strong> and <strong>purchasing method.</strong>' %}</p>
                <div class="getBrochure" style="margin: 20px 0">
                    <form id="getBrochureForm" action="" method="POST">
                        {% csrf_token %}
                        {{brochure_form|crispy}}
                    </form>
                    <button id="getBrochureBtn" class="my-btn btn-flex">{% trans 'Send' %}</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 d-none d-lg-block">
            <div class="main-description pb-0">
                {% comment %} 그림 정보 {% endcomment %}
                {% if LANGUAGE_CODE == 'ko' %}
                <h1>{{painting.name}}</h1>
                <p class="my-description-sub">{{painting.painter.name}}</p>
                <p class="my-description-sub">{{painting.material}}</p>
                <p class="my-description-sub">{{painting.width}}cm x {{painting.height}}cm</p>
                <p class="my-description-bold mt-1">₩ {{painting.price|intcomma}}</p>
                {% else %}
                <h1>{{painting.paintingeng_set.all.0.name}}</h1>
                <p class="my-description-sub">{{painting.painter.paintereng_set.all.0.name}}</p>
                <p class="my-description-sub">{{painting.paintingeng_set.all.0.material}}</p>
                <p class="my-description-sub">{{painting.width}}cm x {{painting.height}}cm</p>
                <p class="my-description-bold mt-1">$ {{painting.paintingeng_set.all.0.price|intcomma}}</p>
                {% endif %}
                <hr>
                {% comment %} 작가 네임카드 {% endcomment %}
                <div class="col-12 namecard text-center">
                    <a href="{% url 'artist:artistDetailView' painting.painter.slug %}">
                        <div class="mx-auto">
                            <img class="profile_img rounded-circle" src="{{painting.painter.image.url}}" alt="{{painting.painter.name}}">
                        </div>
                        {% if LANGUAGE_CODE == 'ko' %}
                        <p class="my-description-detail">{{painting.painter}}</p>
                        <p class="my-description-sub">{{painting.painter.title}}</p>
                        <button class="my-btn-lg mt-3">{{painting.painter.name}} 작가의 다른 작품보기</button>
                        {% else %}
                        <p class="my-description-detail">{{painting.painter.paintereng_set.all.0.name}}</p>
                        <p class="my-description-sub">{{painting.painter.paintereng_set.all.0.title}}</p>
                        <button class="my-btn-lg mt-3">More by {{painting.painter.paintereng_set.all.0.name}}</button>
                        {% endif %}
                    </a>
                </div>
                <hr class="mb-0">
            </div>
        </div>
    </div>
</div>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
{% block js %}
<script>
    //-------------------------------------//
    // display footer when it's ready
    $(document).ready(function () {
        $('#hagley-footer').removeClass('d-none');
    });

    //-------------------------------------//
    // disable enter key in form
    $('#getBrochureForm').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

    //-------------------------------------//
    // send mail with ajax
    $("#getBrochureBtn").click(function () {
        var formData = $("#getBrochureForm").serialize();
        $.ajax({
            type: "POST",
            url: "{% url 'mail:send_brochure' painting.slug %}",
            data: formData,
            success: onSuccess
        });
    });

    function onSuccess(data) {
        $.notify({
            message: "{% trans 'Sorry, this is currently unavailable.' %}",
        }, {
                allow_dismiss: false,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                },
                delay: 1500,
                type: 'danger',
                template: '<div data-notify="container" class="my-noti mx-auto col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            })
    }

    //-------------------------------------//
    // Truncate at first and show all contents when a user clicks 'read more'
    $(document).ready(function () {
        var paintingDesc = document.getElementById("painting-desc");
        $clamp(paintingDesc, { clamp: 3, useNativeClamp: false, truncationHTML: "<a id='read_more' href='#'>{% trans 'see more' %}</a>" });

        var paintingDesc2 = document.getElementById("painting-desc-2");
        $clamp(paintingDesc2, { clamp: 3, useNativeClamp: false, truncationHTML: "<a id='read_more2' href='#'>{% trans 'see more' %}</a>" });

        $("#read_more").click(function () {
            paintingDesc.remove();
            $("#painting-desc-full").removeClass("d-none");
        });

        $("#read_more2").click(function () {
            paintingDesc2.remove();
            $("#painting-desc-full-2").removeClass("d-none");
        });
    });

    //-------------------------------------//
    // Activate slick to show multiple imgs
    $('.image_container').slick({
        arrows: false,
        dots: true,
        dotsClass: 'slick-dots-detail',
        adaptiveHeight: true,
        infinite: true,
    });

    $('.product-carousel-thumbs').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        asNavFor: '.image_container',
        focusOnSelect: true,
        vertical: true,
        infinite: false,
        swipe: false,
        infinite: true,
        prevArrow: '<button type="button" class="slick-prev-v"><i class="fas fa-chevron-circle-up" style="font-size: 14px"></i></button>',
        nextArrow: '<button type="button" class="slick-next-v"><i class="fas fa-chevron-circle-down" style="font-size: 14px"></i></button>',
    })

    // Function which initiates PhotoSwipe with index
    function openPhotoSwipe(index) {
        var pswpElement = document.querySelectorAll('.pswp')[0];

        // build items array
        var items = [
            {
                src: '{{painting.image.url}}',
                w: '{{painting.image.width}}',
                h: '{{painting.image.height}}',
            },
            {% for detailImg in paintingImgs %}
            {
                src: '{{detailImg.image.url}}',
                w: '{{detailImg.image.width}}',
                h: '{{detailImg.image.height}}',
            },
            {% endfor %}
        ];

        // define options (if needed)
        var options = {
            // optionName: 'option value'
            // for example:
            index: index,
            closeOnVerticalDrag: true,
        }

        // Initializes and opens PhotoSwipe
        var gallery = new PhotoSwipe (pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    }

    // Display PhotoSwipe when image is clicked.
    $("img[alt='{{painting.slug}}']").click(function() {
        openPhotoSwipe(0);
    });
    {% for detailImg in paintingImgs %}
    $("img[alt='{{detailImg.painting.slug}} - {{forloop.counter}}']").click(function() {
        openPhotoSwipe(Number('{{forloop.counter}}')); // Error occurs when arg is string. Convert to Number.
    });
    {% endfor %}

    //-------------------------------------//
    // Restrict number of slick-dots
    function ClassDotsManager(slickElementId, numOfItems, numOfDots) {
        this.listDotsElement = $("#" + slickElementId + " ul.slick-dots-detail li");
        this.numOfDots = numOfDots <= numOfItems ? numOfDots : numOfItems;
        this.minIndex = 0;
        this.maxIndex = numOfDots - 1;
        this.showDotsBetween = function (minIndex, maxIndex) {
            this.listDotsElement.filter(function (index) {
                $(this).css("display", index >= minIndex && index <= maxIndex ? "inline-block" : "none");
            });
        };
        this.init = function () {
            this.showDotsBetween(0, this.numOfDots - 1);
            if (numOfItems > this.numOfDots) {
                $('#slick-slide-control0'+this.maxIndex).css({"width": "8px", "height": "8px"});
                $('#slick-slide-control0'+this.maxIndex).parent().css({"width": "8px", "height": "8px"});
            }
        };
        this.updateDots = function (currentIndex, newIndex) {
            if (newIndex > currentIndex) {
                if (newIndex-currentIndex == numOfItems-1) {
                    this.maxIndex = numOfItems-1;
                    this.minIndex = numOfItems-numOfDots;
                } else if (newIndex <= 2 || newIndex >= numOfItems - 2) {
                    // don't need to update
                } else {
                    this.maxIndex += newIndex-currentIndex;
                    this.minIndex += newIndex-currentIndex;
                }
            } else if (newIndex < currentIndex) {
                if (currentIndex-newIndex == numOfItems-1) {
                    this.minIndex = 0;
                    this.maxIndex = numOfDots-1;
                } else if (newIndex <= 1 || newIndex >= numOfItems - 3) {
                    // dont't need to update
                } else {
                    this.minIndex -= currentIndex-newIndex;
                    this.maxIndex -= currentIndex-newIndex;
                }
            } else {
                // don't need to update
            }
            
            if (numOfItems > this.numOfDots) {
                if (this.minIndex != 0) {
                    // change first dot's size
                    $('#slick-slide-control0'+this.minIndex).css({"width": "8px", "height": "8px"});
                    $('#slick-slide-control0'+this.minIndex).parent().css({"width": "8px", "height": "8px"});
                    for(i=1; i<4; i++) {
                        $('#slick-slide-control0'+(this.minIndex+i)).css({"width": "14px", "height": "14px"});
                        $('#slick-slide-control0'+(this.minIndex+i)).parent().css({"width": "14px", "height": "14px"});
                    }
                }
                if (this.maxIndex != numOfItems-1) {
                    // change last dot's size
                    $('#slick-slide-control0'+this.maxIndex).css({"width": "8px", "height": "8px"});
                    $('#slick-slide-control0'+this.maxIndex).parent().css({"width": "8px", "height": "8px"});
                    for(i=1; i<4; i++) {
                        $('#slick-slide-control0'+(this.maxIndex-i)).css({"width": "14px", "height": "14px"});
                        $('#slick-slide-control0'+(this.maxIndex-i)).parent().css({"width": "14px", "height": "14px"});
                    }
                }
            }

            this.showDotsBetween(this.minIndex, this.maxIndex);
        }
    }

    //-------------------------------------//
    // get number of pictures on the slide
    function getNumberOfItems() {
        var numOfItems = Number({{paintingImgs.count}}) + 1;
        return numOfItems;
    };

    //-------------------------------------//
    // initiate
    var numberOfItems = getNumberOfItems();
    var dotsManager = new ClassDotsManager("image_container", numberOfItems, 5);
    dotsManager.init();

    var beforeIndex = 0

    $("#image_container").on("beforeChange", function (slick, currentSlide, nextSlide) {
        beforeIndex = currentSlide.currentSlide;
    });

    $("#image_container").on("afterChange", function (slick, currentSlide) {
        dotsManager.updateDots(beforeIndex, currentSlide.currentSlide);
    });

    // Disable slick-dots button
    $('li button').attr('disabled', 'disabled');

    if ($('.product-carousel-thumbs > button').length == 0) {
        $('.product-carousel-thumbs .slick-list').css('margin-top', '0px');
    }
</script>
{% endblock %}