{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block content %}
<div class="container">
    <div class="grid are-images-unloaded">
        <div class="grid__col-sizer"></div>
        <div class="grid__gutter-sizer"></div>
        {% for painting in paintings.object_list %}
        {% with width=painting.image.width height=painting.image.height %}
        <div class="grid__item{% if width|div:height >= 1.5 %} grid__item--width2{% endif %}" data-toggle="modal" data-target="#{{painting.slug}}">
            <a href="{% url 'shop:paintingDetail' painting.slug %}">
                <img src="{{painting.image.url}}">
                <div class="main-description">
                    <h5>{{painting.name}}</h5>
                    <p>{{painting.material}}</p>
                    <p>{{painting.painter.name}}</p>
                    <p>₩ {{painting.price|intcomma}}</p>
                </div>
            </a>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    <br>
</div>
{% include "shop/sellfab.html" %}
{% endblock %}
{% block js %}
<script>
    //-------------------------------------//
    // init Masonry

    var $grid = $('.grid').masonry({
        itemSelector: 'none', // select none at first
        columnWidth: '.grid__col-sizer',
        gutter: '.grid__gutter-sizer',
        percentPosition: true,
        stagger: 30,
        // nicer reveal transition
        visibleStyle: { transform: 'translateY(0)', opacity: 1 },
        hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
    });

    // get Masonry instance
    var msnry = $grid.data('masonry');

    // initial items reveal
    $grid.imagesLoaded(function () {
        $grid.removeClass('are-images-unloaded');
        $grid.masonry('option', { itemSelector: '.grid__item' });
        var $items = $grid.find('.grid__item');
        $grid.masonry('appended', $items);
    });

    //-------------------------------------//
    // calculate number of pages and make page urls

    function getPageNumbers(num) {
        var pageNumbers = []
        for(i=1; i<num; i++) {
            pageNumbers.push(i+1)
        }
        return pageNumbers
    }

    var nextPageNumbers = getPageNumbers(parseInt('{{paintings.paginator.num_pages}}'))

    function getPaintingsPath() {
        var currentUrl = window.location.href
        var pageIndex = nextPageNumbers[this.loadCount];
        if (pageIndex) {
            return currentUrl + '?page=' + pageIndex;
        }
    }

    //-------------------------------------//
    // init Infinte Scroll

    $grid.infiniteScroll({
        path: getPaintingsPath,
        append: '.grid__item',
        outlayer: msnry,
        status: '.page-load-status',
        history: false,
    });
</script>
{% endblock %}