{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include "header.html" %}
    {% include "navbar.html" %}
    <div class="container fixed_nav_pad">
        {% block content %}
        {% endblock %}
    </div>
        {% include "footer.html" %}
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/infinite-scroll.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>