{% load staticfiles %}
<nav class="navbar sticky-custom navbar-light my-navbar" id="navbar">
    <div class="container">

        {% comment %} 모바일 버전 브랜드 로고 {% endcomment %}
        <a id="brand-logo-xs" class="mx-auto" href="{% url 'shop:allPaintings' %}">
            <img class="brand-logo" src="{% static 'img/hagley_logo.png' %}" alt="logo">
        </a>
        {% comment %} 데스크탑 버전 브랜드 로고 {% endcomment %}
        <a id="brand-logo-lg" class="navbar-brand" href="{% url 'shop:allPaintings' %}">
            <img class="brand-logo" src="{% static 'img/hagley_logo.png' %}" alt="logo">
        </a>

        {% comment %} 모바일 버전 검색창 {% endcomment %}
        <form id="search-form-xs" action="{% url 'search:searchResult' %}" method="GET">
            {% csrf_token %}
            <div class="form-inline my-search-bar">
                <input type="text" class="my-search-bar-input" placeholder="작가 및 작품명 검색" name="q">
                <button class="my-search-button" type="submit">
                    <i class="fa fa-search" style="color: #EA562A;"></i>
                </button>
            </div>
        </form>

        {% comment %} 데스크탑 버전 검색창 {% endcomment %}
        <form id="search-form-lg" action="{% url 'search:searchResult' %}" method="GET">
                {% csrf_token %}
                <div class="form-inline my-search-bar">
                    <input type="text" class="my-search-bar-input" placeholder="작가 및 작품명 검색" name="q">
                    <button class="my-search-button" type="submit">
                        <i class="fa fa-search" style="color: #EA562A;"></i>
                    </button>
                </div>
            </form>
    </div>
</nav>