{% load staticfiles %}
<nav class="navbar sticky-top navbar-light my-navbar" id="navbar">
    <div class="container">

        {% comment %} 모바일 버전 브랜드 로고 {% endcomment %}
        <a href="{% url 'shop:allPaintings' %}" style="width:100%">
            <img class="brand-logo brand-logo-xs mx-auto" src="{% static 'img/hagley_logo.png' %}" alt="logo">
        </a>
        {% comment %} 데스크탑 버전 브랜드 로고 {% endcomment %}
        <a class="navbar-brand" href="{% url 'shop:allPaintings' %}">
            <img class="brand-logo brand-logo-lg" src="{% static 'img/hagley_logo.png' %}" alt="logo">
        </a>

        {% comment %} 모바일 버전 검색창 {% endcomment %}
        <form id="search-form-xs" action="{% url 'search:searchResult' %}" method="GET">
            {% csrf_token %}
            <div class="form-inline my-search-bar">
                <input type="text" class="my-search-bar-input" placeholder="작가 및 작품명 검색" name="q">
                <button class="my-search-button" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>

        {% comment %} 데스크탑 버전 검색창 {% endcomment %}
        <form class="form-inline my-2 my-lg-0" id="search-form-lg" action="{% url 'search:searchResult' %}" method="GET">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="작가 및 작품명 검색" name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
</nav>